.header__top {
  position: relative;
  height: 95px;
  width: 100%;
}
main {
  position: relative;
  background-color: rgba(84, 146, 201);
  color: rgba(255, 255, 255, 0.862);
  margin: 1.5rem auto;
  border-radius: 10px;
  width: 95%;
  padding: 2rem;
  z-index: 1;
}

h1 {
  text-transform: uppercase;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

@media (min-width: 1200px) {
}

@media (min-width: 767px) and (max-width: 1200px) {
  .menue {
    display: none;
  }
  .header__top {
    display: block;
  }
  .header__menue {
    position: relative;
    background-color: red;
    top: 10%;
    left: 60%;
  }
  .nav__showmenu {
    font-size: 3rem;
    display: block;
  }
}

@media (max-width: 480px) {
}
